.TotalInfoContainer{
    display:flex;
    justify-content: space-around;
    width: 100rem;
}

.main{
    width: 70%;
    height: 80%;
    margin: 10px 5px;
    
}

.mainContainer{
    display: flex;
    margin:48px 10rem;
    width: 50%;
    height: 30%;
    padding:24px;
}

.MemoContainer,.StaffListContainer,.PaymentVouchersContainer{
    margin:48px;
    width: 100rem;
}
.MemoList,.StaffList,.PaymentVouchersList{
    overflow-y: scroll;
    max-height: 300px;
    margin:4px;
    width: 100%;
    gap:40px;
    scrollbar-color:aqua;
}

.table{
    width: 100%;
    /* padding: 48px; */
    border-collapse: separate; /* Разделяем границы ячеек */
    border-spacing: 36px; /* Устанавливаем отступы между ячейками */
}

.MemoList::-webkit-scrollbar,
.StaffList::-webkit-scrollbar,
.PaymentVouchersList::-webkit-scrollbar {
    border-radius: 10px;
    width: 10px;
    height: 5px;
}

.MemoList::-webkit-scrollbar-thumb,
.StaffList::-webkit-scrollbar-thumb,
.PaymentVouchersList::-webkit-scrollbar-thumb {
  background-color: #14ADD6; /* Цвет кнопки прокрутки */
  border-radius: 10px;
}

