.CreateBudgetContainer
{
    display: flex;
    justify-content: space-between;
    margin:24px;
    padding:24px;
}
.table{
    width: 100rem;
    margin: 12px;
    padding: 0px 12px;
    flex: 1;
    font-family: 'Nunito', sans-serif;

    border-collapse: separate; /* Разделяем границы ячеек */
    border-spacing: 48px; /* Устанавливаем отступы между ячейками */
}
.CreateBudgetButton{
    width: 350px;
    border:1px solid #384295;
    border-radius: 10px;
    color: white;
    background: linear-gradient(135deg, #14ADD6 0%, #384295 100%);
    font-size: 24;

}